.section1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(202, 202, 202);
}
.section1__title {
  max-width: 80rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 180px;
}

.section1__h1 {
  font-size: 60px;
  text-align: center;
}

.section1-text-box {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-content: center;
  align-items: start;
  justify-items: start;
}

.section1__p {
  font-size: 24px;
  text-align: start;
  line-height: 30px;
}
.section1__ptext {
  font-size: 24px;
  text-align: start;
  line-height: 30px;
  margin-top: 80px;
}

.section1__title2 {
  max-width: 80rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section1__highlight {
  background-color: #32cd32;
  border-radius: 20px;
  box-shadow: 5px 5px 0px rgb(8, 148, 15);
  padding: 5px;
  position: relative;
}
