.section--2 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(202, 202, 202);
  position: relative;
}
.section--2 h1 {
  font-size: 60px;
  text-align: center;
  width: 60%;
  margin-top: 70px;
}

.section2-box-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  width: 800px;
  height: 300px;
  margin-right: 300px;
}
.card-images {
  width: 300px;
  height: 300px;
  object-fit: contain;
  transition: transform 0.3s, filter 0.5s;
}
.lazy-img {
  filter: blur(20px);
}
.card-images:hover {
  transform: scale(1.2);
}

.section2-box-text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
}
.section2-box-information {
  width: 300px;
}
.section2-list {
  line-height: 25px;
}

.section2-highlight {
  background-color: #32cd32;
  border-radius: 20px;
  box-shadow: 5px 5px 0px rgb(8, 148, 15);
  padding: 5px;
  position: relative;
}

.btn-card-order {
  width: 140px;
  border: none;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  font-size: 23px;
  color: #32cd32;
  transition: all 0.3s;
  margin-left: 75px;
  margin-top: 20px;
}

.btn-card-order:hover {
  color: rgb(14, 129, 3);
}
