* {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background-color: #023246;
  width: 90rem;
  margin: 0px auto;
}
.header > img {
  height: 90%;
  margin-left: 50px;
  border-radius: 20px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
}
.search__input {
  width: 300px;
  height: 40px;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding-left: 10px;
}

.btn {
  height: 42px;
  border: none;
  border-radius: 20px;
  width: 120px;
  cursor: pointer;
  margin-left: 20px;
  background-color: rgb(243, 92, 22);
  color: white;
  font-size: 18px;
  transition: 0.15s;
}
.btn:hover {
  background-color: rgb(252, 135, 82);
}
.nav {
  margin-right: 100px;
  display: flex;
}

.nav__list {
  list-style: none;
  height: 100%;
}
.nav__btn {
  transition: all 0.3s;
  align-items: center;
  border: none;
  background: none;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  color: white;
  transition: 0.15s;
}
.nav__btn:hover {
  color: rgb(243, 92, 22);
}

.bookmarks {
  position: absolute;
  right: 231px;
  height: auto;
  top: 10vh;
  width: 25rem;
  background-color: #fff;
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
}

.nav__btn--bookmark:hover + .bookmarks {
  visibility: visible;
  opacity: 1;
}
.bookmark__list {
  margin-left: -40px;
}
